<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/kendo/kendo.all.min.js"></script>
    <link rel="stylesheet" href="~/lib/kendo/kendo.default-v2.min.css">
    <style>
        .container {
            position: relative;
            display: grid;
            width: 93%;
            margin: 0 3rem;
            gap: 1.8rem;
            grid-template-columns: 14rem auto 23rem;
            padding-top: 4rem;
        }

        header h3 {
            font-weight: 500;
        }

        header {
            position: fixed;
            width: 100vw;
            z-index: 1000;
            background-color: var(--color-background);
        }

        header.active {
            box-shadow: var(--box-shadow);
        }

        header .logo {
            display: flex;
            gap: .8rem;
            margin-right: auto;
        }

        header .logo img {
            width: 2rem;
            height: 2rem;
        }

        header,
        header .navbar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 3rem;
            color: var(--color-info);
        }

        header .navbar a {
            display: flex;
            margin-left: 2rem;
            gap: 1rem;
            align-items: center;
            justify-content: space-between;
            position: relative;
            height: 3.7rem;
            transition: all 300ms ease;
            padding: 0 2rem;
        }

        header .navbar a:hover {
            padding-top: 1.5rem;
        }

        header .navbar a.active {
            background: var(--color-light);
            color: var(--color-primary);
        }

        header .navbar a.active::before {
            content: "";
            background-color: var(--color-primary);
            position: absolute;
            height: 5px;
            width: 100%;
            left: 0;
            top: 0;
        }

        header #profile-btn {
            display: none;
            font-size: 2rem;
            margin: .5rem 2rem 0 0;
            cursor: pointer;
        }

        header .theme-toggler {
            background: var(--color-light);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 1.6rem;
            width: 4.2rem;
            cursor: pointer;
            border-radius: var(--border-radius-1);
            margin-right: 2rem;
        }

        header .theme-toggler span {
            font-size: 1.2rem;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        header .theme-toggler span.active {
            background-color: var(--color-primary);
            color: white;
            border-radius: var(--border-radius-1);
        }

        :root {
            --color-primary: #7380ec;
            --color-danger: #ff7782;
            --color-success: #41f1b6;
            --color-warning: #ffbb55;
            --color-white: #fff;
            --color-info: #7d8da1;
            --color-dark: #363949;
            --color-light: rgba(132, 139, 200, 0.18);
            --color-dark-varient: #677483;
            --color-background: #f6f6f9;

            --card-border-radius: 2rem;
            --border-radius-1: 0.4rem;
            --border-radius-2: 1.2rem;

            --card-padding: 1.8rem;
            --box-shadow: 0 2rem 3rem var(--color-light);
        }

        .dark-theme {
            --color-background: #181a1e;
            --color-white: #202528;
            --color-dark: #edeffd;
            --color-dark-varient: #a3bdcc;
            --color-light: rgba(0, 0, 0, 0.4);
            --box-shadow: 0 2rem 3rem var(--color-light);
        }

        * {
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style: none;
            box-sizing: border-box;
        }

        html {
            font-size: 14px;
            scroll-behavior: smooth;
        }

        body {
            font-family: "Poppins", sans-serif;
            font-size: 0.88rem;
            background: var(--color-background);
            user-select: none;
            overflow-x: hidden;
            color: var(--color-dark);
        }

        * {
            color: var(--color-dark);
        }

        img {
            display: block;
            width: 100%;
        }

        h1 {
            font-weight: 800;
            font-size: 1.8rem;
        }

        h2 {
            font-size: 1.4rem;
        }

        h3 {
            font-size: 0.87rem;
        }

        h4 {
            font-size: 0.8rem;
        }

        h5 {
            font-size: 0.77rem;
        }

        small {
            font-size: 0.75rem;
        }

        .text-muted {
            color: var(--color-info);
        }

        p {
            color: var(--color-dark-varient);
        }

        b {
            color: var(--color-dark);
        }

        .primary {
            color: var(--color-primary);
        }

        .danger {
            color: var(--color-danger);
        }

        .success {
            color: var(--color-success);
        }

        .warning {
            color: var(--color-warning);
        }
    </style>
</head>

<body>
    <header>
        <div class="logo" title="Student Management System">
            @* <img src="logo.jpg" alt="ffdgdf"> *@
            <h2>Student&nbsp;<span class="danger">Management&nbsp;</span>System</h2>
        </div>
        <div class="navbar">
            <a asp-controller="Home" asp-action="StuDash">
                <span class="material-icons-sharp">home</span>
                <h3>Home</h3>
            </a>
            <a asp-controller="Home" asp-action="Timetable">
                <span class="material-icons-sharp">today</span>
                <h3>Time Table</h3>
            </a>
            <a href="exam.html">
                <span class="material-icons-sharp">grid_view</span>
                <h3>Examination</h3>
            </a>
            <a asp-controller="Home" asp-action="Feedback">
                <span class="material-icons-sharp">feedback</span>
                <h3>Feedback</h3>
            </a>
            @* <a asp-controller="Home" asp-action="Feeback">
                <span class="material-icons-sharp" onclick="">logout</span>
                <h3>Logout</h3>
            </a> *@
            <a asp-controller="Home" asp-action="Logout">
                <span class="material-icons-sharp" onclick="">logout</span>
                <h3>Logout</h3>
            </a>
        </div>


    </header>
    <div class="container">
        <main role="main" class="pb-3 mt-5">
            @RenderBody()
        </main>
    </div>


</body>

</html>
